<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="layout.css">
	<title></title>
</head>
<body>
	<div class="header">
		<h1>Hijrawan<br>
		<small>Welcome To My Website</small>
		</h1>
	</div>

	<div class="menu">
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Product</a></li>
			<li><a href="">Service</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>

	<div class="content">
		<div class="subc"></div>
		<div class="subc"></div>
		<div class="subc"></div>
	</div>

</body>
</html>